
<a [routerLink]="['/']">Home</a>  
<div *ngIf="author">
  <h3>Quotes by {{author.name}}</h3>
  <a routerLink='/write/{{author._id}}'>New Quote</a>
  <table>
    <tr>
      <th>Quote</th>
      <th>Votes</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let q of author.quotes">
      <td>{{q.content}}</td>
      <td>{{q.vote}}</td>
      <td>
        <button (click)="vote(q._id, 1)">Vote up</button>
        <button (click)="vote(q._id, -1)">Vote down</button>
        <button (click)="onDelete(q._id)">Delete</button>
      </td>
    </tr>
  </table>
</div>
